
*{
    padding: 0;
    margin: 0;
    border: 0;
}
:before,:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}


 /*    menu    */   
.menu{
    background-color: rgb(154,252,176);
}
.menu_back{
    display: flex;
    align-items: center;
    max-width: 1200px;
    height: 60px;
    margin: 0 auto 0 auto;
}
.menu_logo img{
    height: 60px;
}
.menu_logo{
    margin: 10px 190px 0 37px;
}
.menu_link{
    font-size: 37px;
    margin-right: 48px;
}
.menu_link a{
    color: rgb(29, 49, 29);
}
/*    about     */
.about{
    background-color: rgb(255, 255, 255);
}
.about_back{
    max-width: 1200px;
    height: 750px;
    margin: auto auto auto auto;
    position: relative;
}

.about_back h1{
    font-size: 48px;
    font-weight: 520px;
    line-height: 58px;
    margin: 80px 0 0 30px;
}

.about_back p{
    font-size: 38px;
    line-height: 44px;
    font-weight: 420px;
    margin: 100px 0 40px 45px;
}
.about_back span{
    color: rgb(0, 251, 238);
}

.about_button button{
    display: block;
    font-size: 44px;
    line-height: 75px;
    color: rgb(255, 255, 255);
    background-color: rgb(154,252,176);
    width: 450px;
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
    margin-left: 30px;
}

.about_back img{
    display: block;
    width: 535px;
    position: absolute;
    bottom: 200px;
    right: 50px;
    filter: drop-shadow(0px 4px 4px rgb(0, 0, 0, 0.25));
}


/*benefits*/
.benefits {
    background-color: rgb(154,252,176);
}

.benefits_back {
    max-width: 1200px;
    min-height: 750px;
    margin: 0 auto;

}

.benefits_back h1 {
    color: white;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    padding: 48px 0 60px 0;
}

.benefits_container {
    display: flex;
    justify-content: center;
    gap: 37px;
}

.column {
    max-width: 420px;
}

.column img{
    display: block;
    width: 272px;
    margin: 0 auto;
    filter: drop-shadow(0px 4px 4px rgb(0, 0, 0, 0.25))
}

.column p{
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: white;
    padding-top: 22px;
}
/* products*/
.products{
    background-color: rgb(255, 255, 255);
}

.products_back {
    max-width: 1200px;
    max-height: 750px;
    margin: 0 auto;
}

.products_back h1 {
    color: white;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    padding: 48px 0 60px 0;
}
.products_container{
    display: flex;
    justify-content: center;
    gap: 48px;

}
.card{
    width: 300px;
    height: 400px;
    background-color: rgb(217,217,217);
    box-shadow: 0 4px 4px ;
    border-radius: 30px;
    padding: 30px 0 ;
}

.card_whiteback{
    background-color: white;
    border-radius: 30px;
    margin: 0 auto;
    display: block;
    width: 230px;
}
.card p {
    font-size: 32px;
    text-align: center;
    padding: 35px;
    width: 230px;



}


/* footer*/

.footer {
    background-color: rgb(154,252,176);
}    

.footer_back{
    display: flex;
    margin: 0  auto ;
    justify-content:  center;
    align-items: center;
    max-width: 1200px;
    min-height: 100px;

}

.footer_back{
    font-size: 46px;
    color: rgba(0, 128, 0, 0.452);
}
.footer_back img {
    width: 250px;
    height: 50px;
    margin-left: 60px;


}